
<div class="InnerWrapper" style="display: none;" id="WhatVertical">	

	<div class="WhatWrapper">

		<div class="banner"><p><strong>Cat&agrave;leg</strong> - La nostra empresa ofereix tres tipus de productes</p></div>

		<div class="WhatElement">

			<div class="WhatContent">

				<center><strong>Recobriments</strong></center><br/>

				<!--Impermeabilitzem sostres de tot tipus d'edificis-->

				Fem recobriments amb fibra de vidre i cautxú de terrats, canals i teulades<br/><br/>

				<a href="/images/Recobriment.jpg?$modena=poliester-pelegrina" target="blank"><img src="/images/Recobriment.jpg?$modena=poliester-pelegrina" class="imgBox" width="100%" height="200px"></a>

			</div>

			<div class="GreyLine"></div>

		</div>

		<div class="WhatElement">

			<div class="WhatContent">

				<center><strong>Peces a mida</strong></center><br/>

				Fabricació i manteniment de peces fetes a mida segons encàrrec del client<br/><br/>

				<a href="/images/Banc.jpg?$modena=poliester-pelegrina" target="blank"><img src="/images/Banc.jpg?$modena=poliester-pelegrina" class="imgBox" width="100%" height="200px"></a>

			</div>

			<div class="GreyLine"></div>

		</div>	

		<div class="WhatElement">

			<div class="WhatContent">

				<center><strong>Piscines</strong></center><br/>

				Recobriment i manteniment de piscines de fibra i gel. coat.<br/><br/>

				<a href="/images/Piscina.jpg?$modena=poliester-pelegrina" target="blank"><img src="/images/Piscina.jpg?$modena=poliester-pelegrina" class="imgBox" width="100%" height="200px"></a>

			</div>			

		</div>		

	</div>	

	<div class="banner GalleryBanner"><p><strong>Galeria</strong> - Aquestes són algunes de les feines que hem fet</p></div>
	<div style="width: 100%; height: 210px;">

		<div style="width: 33%; float: left; text-align: center;"><a href="/images/Peces1.png?$modena=poliester-pelegrina" target="blank"><img class="imgBox" src="/images/Peces1.png?$modena=poliester-pelegrina" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="/images/Peces2.jpg?$modena=poliester-pelegrina" target="blank"><img class="imgBox" src="/images/Peces2.jpg?$modena=poliester-pelegrina" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="/images/Persianes.jpg?$modena=poliester-pelegrina" target="blank"><img class="imgBox" src="/images/Persianes.jpg?$modena=poliester-pelegrina" width="95%" height="200px"></a>&emsp;</div>

	</div>

	<div style="width: 100%; height: 210px;">

		<div style="width: 33%; float: left; text-align: center;"><a href="/images/Iglu.jpg?$modena=poliester-pelegrina" target="blank"><img class="imgBox" src="/images/Iglu.jpg?$modena=poliester-pelegrina" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="/images/Peces4.jpg?$modena=poliester-pelegrina" target="blank"><img class="imgBox" src="/images/Peces4.jpg?$modena=poliester-pelegrina" width="95%" height="200px"></a>&emsp;</div>
		<div style="width: 33%; float: left; text-align: center;"><a href="/images/Peces5.jpg?$modena=poliester-pelegrina" target="blank"><img class="imgBox" src="/images/Peces5.jpg?$modena=poliester-pelegrina" width="95%" height="200px"></a>&emsp;</div>

	</div>

</div>
